extends layouts/root

block content
  +header()
  h5 Виберіть категорію
  .section
    .col.s12
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object.png")
          h6 Автотранспорт
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object6.png")
          h6 Будівництво, архітектура, землекористування
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object3.png")
          h6 Громадянство
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object2.png")
          h6 Захист прав дитини
  .section
    .col.s12
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object7.png")
          h6 Реєстрація місця проживання/перебування
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object5.png")
          h6 Підприємницька діяльність
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object4.png")
          h6 Санітарне та епідемічне благополуччя, ветеринарна медицина
      .col.s3
        .card
          img(src="./assets/img/Vector_Smart_Object1.png")
          h6 Комунальне господарство