include ../../node_modules/bemto.pug/bemto
include ../blocks/all

- 
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '_'
	})

doctype html
html
	head
		link(rel="stylesheet" href="/assets/app.css")
		link(rel="stylesheet" href="/assets/vendor.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		block content
		script(src="/assets/app.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
